:root {
  --bg-color: white;
  --text-color: #171c2a;
}

[data-theme="dark"] {
  --bg-color: #171c2a;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}